.right-wrapper-sheet {
  height: 100%;
}

.sheet-inner {
  padding: 15px 10px 10px 15px;
  height: 100%;
}

.sheet-req-wrapper {
  height: 15%;
}

.sheet-request {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.sheet-inner-info {
  font-style: italic;
  font-size: 12px;
  margin-left: 20px;
  color: yellowgreen;
}

.sheet-request > div:first-child {
  flex-basis: 15%;
}

.sheet-request > div:nth-child(2) {
  flex-basis: 82%;
}

.sheet-response-code {
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sheet-response-code input {
  width: 100px;
  margin-left: 20px;
}

.sheet-response-body {
  height: 70%;
}

.sheet-response-body textarea {
  margin-top: 10px;
  height: 90%;
}

.sheet-error {
  color: #a04b56;
  margin-top: 10px;
  font-weight: 500;
}

.sheet-success {
  color: yellowgreen;
}

.sheet-button {
  display: flex;
  justify-content: space-between;
  height: 8%;
  align-items: center;
}
