.home-page {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.left-wrapper {
  flex-basis: 40%;
  height: 100%;
}

.left-wrapper-inner {
  padding: 20px 10px 20px 20px;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title img {
  margin-right: 10px;
}

.left-wrapper-mocks {
  margin-top: 20px;
  color: white;
}

.left-wrapper-mock {
  padding: 10px;
  margin: 7px 0px;
  font-size: 12px;
  cursor: pointer;
  word-break: break-all;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-wrapper-mock img {
  height: 12px;
  width: 9px;
  margin-left: 10px;
}

.left-wrapper-no-mock {
  color: #e77354;
  font-weight: 500;
  font-size: 16px;
}

.left-wrapper-mock > div span:last-child {
  margin-left: 8px;
}

.left-wrapper-mock > span:first-child {
  color: #e57155;
}

.left-wrapper-mock-GET {
  color: #e5c552 !important;
}

.left-wrapper-mock-POST {
  color: #52d273 !important;
}

.left-wrapper-mock-PUT {
  color: #e95065 !important;
}

.right-wrapper {
  width: 100%;
}

.right-wrapper-inner {
  max-height: 100%;
  padding: 20px 20px 10px 20px;
}

.left-wrapper-button button {
  margin-top: 30px;
  width: 100%;
}
